[submodule "src/linux-stable"]
	path = src/linux-stable
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "src/microinit"]
	path = src/microinit
	url = https://github.com/rob-ward/microinit.git
[submodule "src/toybox"]
	path = src/toybox
	url = https://github.com/gfto/toybox.git
